* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: rgba(59, 119, 52, 0.8);
  margin: 0;
}

body {
  background-image: url(../img/zucchini.jpg);
}

.container {
  overflow: auto;
}
table, th, tr {
  border: 1px solid lightgray;
}
.userForm {
  background-color: rgba(255,255,255,.8);
  width: 50%;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.userForm label, .userForm input {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.output {
  background-color: rgba(255,255,255,.8);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

input {
  padding: 12px;
}
